@import "variables.scss";

.root {
  padding: 8px 12px;
  border-radius: 6px;
  background-color: $blue;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &.red {
    background-color: red;
  }
}

.isBlock {
  width: 100%;
  display: block;
}
